.main-section{
    background-image: url("./images/background.png");
    background-repeat:no-repeat;
    /* background-attachment:fixed; */
    background-position:center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    color: white;

    .row{
        
    }

    .row1{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }

    .row1-col1{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
    }

    h1{
        font-size: 45px;
        font-weight: 600;
    }

    h2{
        font-size: 25px;
        font-weight: 500;
    }

    h5{
        font-size: 12px; 
        font-weight: 500;
    }

    h6{
        font-size: 14px; 
        font-weight: 500;
    }

}



